body{
    margin: auto;
}

body{
    background-color:white;
    color:black 
}
.mydark{
    background-color:black;
    color:white
}
.mywhite{
    background-color: white;
    color: black;
}

.modechangebutton{
    position: fixed;

}

#coupon{
    height:200px;
    width:400px;
    background-image:url(./images/coupon.png);
    z-index:100;
    margin:auto;
    visibility: hidden;
    position: absolute;
    margin-left: 35%;
}

.search{
    height: 600px;
    width: 100%;
    background-color: rgb(8, 8, 8);
    /* background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 740px;  */
}

#header{
    height: 60px;
}

.buttons button{
    color: white;
    float: left;
}



.firstblock{
    height: 450px;
    background-image: url(./images/peacemakerlandscape.jpg);
    background-repeat: no-repeat;
    background-size: 100% 450px; 

}

.left{
    width: 500px;
    border-left: 5px solid red;
    margin-top: 7%;
    position: absolute;
}

.lefttext{
    font-style: bold;
    padding-left: 49px;
    max-width: 370px;
    color: white;
}

.binge{
    padding-left: 49px;
}

.binge button{
    padding: 2%;
    width: 180px;
    background-color: rgba(128, 128, 128, 0.966);
    color: white;
    font-size: 25px;
    text-align: center;
    font-style: bold;
    margin-top: 3%;
}

.binge button:hover{
    background-color: white;
    color: black;
}

.secondblock{
    height: 400px;
    text-align: center;
    display: block;
}

.heading{
    margin-top: 7%;
}

.subheading{
    margin: 14px 0px 0px;
    color: rgb(218, 219, 224);
    font: var(--ionic-body-copy-3);

}
.shelf{
    text-align: center;
    margin-left: 2%;
    margin-top: 4%;
}

.minibox{
    height: 100px;
    padding: 3%;
    background-color: #1D222F;
    margin-left: 1.5%;
    text-align: center;
    color: white;
}

.thirdblock{
    height: 100px;
    width: 100%;
    background-color: #1D222F;
    color: white;
    text-align: center;
}

.thirdblock h2{
    margin-top: 2%;
    position: absolute;
    margin-left: 15%;
}

#footer{
    height: 1020px;
    position:absolute;
    margin-left: 5%;
}

.headline{
    margin-top: 8%;
    text-align: center;
    width: 800px;
    font-style: bold;
    margin-left: 17%;
}

.textarea{
    width: 800px;
    height: 170px;
    margin-left: 17%;
    margin-top: 2%;
    padding: 1% ;
    text-align: justify;
}
.section3{
    text-align: center;
    margin-left: 17%;
    width: 100%;
}

.learnabt{
    margin-top: 2%;
}

.section3 hr{
    width: 250px;
    margin-left: 35%;
}

.microservices text{
    margin-top: 2%;
    
}

.ques{
    margin-top: 1.5%;
    margin-left: 17%;
    width: 100%;

}

.card2{
    background-color: black;
}

.main{
    display: flex;
    position: relative;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

/* .itemcontainer{
    margin: 0px;
    width: 100%;
}

.item{
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(5, 10, 25);
    width: 100%;
    color: rgb(5, 10, 25);
    margin-left:0.3%;
} */

.queries{
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(5, 10, 25);
    margin-top: 4%;
    text-align: center;
    width: 55%;
    margin-left: 22%;
}

.queries span{
    font-size: 18px;
    text-decoration: bold;
    margin-bottom: 5px;
}

.anchor{
    text-decoration: none;
    color: black;
}



/* .ques h2{
    text-align: center;
    color: rgb(5, 10, 25);
    font: var(--ionic-header-4);
}



.d1{
    width: 100%;
}

.ques span{
    width: 80%;
} */
